### Exercise 1

Create new dataframes containing: 
 - only Counties from Washington, Arizona, Utah and Montana States
 - only Counties with a TotalPop between 70000 and 100000 OR from Washington, Arizona, Utah and Montana States
 - the States with a Women population lower than 30000 AND Employed higher than 70000

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [7]:
df = pd.read_csv('data\census.csv', sep = ';')

# df = pd.read_excel('..\Advanced DA\data\census.xlsx')

df

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72145,Puerto Rico,Vega Baja,56858,27379,29479,96.4,3.4,0.1,0.0,...,1.2,1.3,0.3,32.0,13660,78.3,17.6,4.1,0.0,15.2
3216,72147,Puerto Rico,Vieques,9130,4585,4545,96.7,2.9,0.0,0.0,...,10.8,0.0,1.4,14.0,2860,44.5,41.6,13.6,0.3,12.2
3217,72149,Puerto Rico,Villalba,24685,12086,12599,99.7,0.0,0.0,0.0,...,3.2,0.0,3.3,26.9,6795,59.2,27.5,13.1,0.2,25.9
3218,72151,Puerto Rico,Yabucoa,36279,17648,18631,99.8,0.2,0.0,0.0,...,2.3,2.3,1.5,29.5,8083,65.1,27.6,7.3,0.0,24.3
3219,72153,Puerto Rico,Yauco,39474,19047,20427,99.5,0.5,0.0,0.0,...,1.6,0.7,3.1,24.6,8923,68.0,27.6,4.4,0.0,27.1

In [6]:
state_list = ['Washington','Arizona','Utah','Montana']
df_1 = df[df['State'].isin(state_list)]
df_1

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
96,4001,Arizona,Apache,72124,35663,36461,6.3,19.3,0.6,71.7,...,5.0,1.4,6.3,28.8,18334,50.2,45.0,4.7,0.1,18.2
97,4003,Arizona,Cochise,129647,66100,63547,33.9,56.7,3.6,0.8,...,3.8,2.6,5.5,19.3,43776,63.2,30.5,6.1,0.2,8.7
98,4005,Arizona,Coconino,136701,67553,69148,13.8,54.7,1.4,26.0,...,8.6,4.5,5.0,18.7,64844,72.2,23.3,4.4,0.1,8.8
99,4007,Arizona,Gila,53165,26436,26729,18.6,63.7,0.6,15.1,...,3.1,2.3,4.8,21.0,17961,72.2,23.1,4.6,0.2,12.8
100,4009,Arizona,Graham,37407,20049,17358,31.8,51.7,1.9,12.9,...,2.7,2.2,3.7,21.3,11954,71.1,25.0,3.8,0.1,14.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2987,53069,Washington,Wahkiakum,4035,1951,2084,4.3,89.3,0.1,1.5,...,4.5,0.5,5.7,28.6,1248,63.4,27.4,9.2,0.0,10.6
2988,53071,Washington,Walla Walla,59726,30558,29168,21.0,72.7,1.5,0.5,...,8.7,3.1,4.3,14.9,26112,74.2,19.1,6.5,0.2,6.4
2989,53073,Washington,Whatcom,207100,102637,104463,8.7,80.3,0.8,2.6,...,5.0,2.9,6.4,20.4,98265,75.1,18.0,6.6,0.3,8.2
2990,53075,Washington,Whitman,46737,23794,22943,5.4,80.3,2.1,0.4,...,16.6,2.9,5.8,15.2,21665,56.1,39.4,4.4,0.1,8.8
2991,53077,Washington,Yakima,247408,123907,123501,47.1,45.6,0.7,3.5,...,1.8,1.1,3.7,19.6,101169,79.5,14.8,5.6,0.1,9.0

In [12]:
df_2 = df_1[(df_1['TotalPop'] >= 70000) & (df_1['TotalPop'] <= 100000)]
df_2

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
96,4001,Arizona,Apache,72124,35663,36461,6.3,19.3,0.6,71.7,...,5.0,1.4,6.3,28.8,18334,50.2,45.0,4.7,0.1,18.2
1604,30013,Montana,Cascade,82090,41098,40992,3.9,86.3,1.2,4.1,...,3.7,1.5,3.0,15.7,37069,75.5,16.5,7.7,0.3,5.1
1612,30029,Montana,Flathead,93333,46583,46750,2.6,93.3,0.3,1.5,...,3.2,1.7,6.1,19.2,43907,78.2,13.4,8.1,0.3,7.0
1613,30031,Montana,Gallatin,95323,49111,46212,3.1,92.6,0.4,0.9,...,6.3,4.6,6.8,17.5,52450,73.2,17.7,8.6,0.4,6.3
2956,53007,Washington,Chelan,74267,37027,37240,27.2,69.0,0.5,0.9,...,4.4,2.5,5.3,18.2,33140,76.8,16.0,6.9,0.2,7.5
2957,53009,Washington,Clallam,72397,35935,36462,5.7,83.8,0.8,4.4,...,4.4,2.3,4.9,20.9,27697,69.7,22.0,8.2,0.1,9.9
2963,53021,Washington,Franklin,86443,45052,41391,51.5,42.3,1.8,0.3,...,1.5,0.8,3.3,20.7,36259,81.7,13.2,5.0,0.1,7.2
2965,53025,Washington,Grant,92070,46507,45563,39.7,56.0,0.6,0.9,...,2.8,2.5,5.5,18.4,38314,75.4,19.4,5.1,0.1,10.1
2966,53027,Washington,Grays Harbor,71419,36748,34671,9.6,80.1,1.1,4.0,...,2.2,2.0,3.9,24.2,26197,71.2,21.7,7.0,0.2,14.3
2967,53029,Washington,Island,79329,39540,39789,6.6,80.9,2.8,1.0,...,3.5,2.4,7.2,28.6,31525,67.2,23.6,8.8,0.4,9.0
2973,53041,Washington,Lewis,75515,37774,37741,9.5,84.7,0.7,0.6,...,2.3,0.8,5.2,26.1,29297,73.5,19.1,7.1,0.2,12.1

In [28]:
counties = df_2['County'].tolist()
counties #These are the counties that comply with the criteria established on exercise 2

['Apache',
 'Cascade',
 'Flathead',
 'Gallatin',
 'Chelan',
 'Clallam',
 'Franklin',
 'Grant',
 'Grays Harbor',
 'Island',
 'Lewis']

In [24]:
df_3 = df[(df['Women'] <= 30000) & (df['Employed'] >= 70000)]
df_3

Empty DataFrame
Columns: [CensusId, State, County, TotalPop, Men, Women, Hispanic, White, Black, Native, Asian, Pacific, Citizen, Income, IncomeErr, IncomePerCap, IncomePerCapErr, Poverty, ChildPoverty, Professional, Service, Office, Construction, Production, Drive, Carpool, Transit, Walk, OtherTransp, WorkAtHome, MeanCommute, Employed, PrivateWork, PublicWork, SelfEmployed, FamilyWork, Unemployment]
Index: []

[0 rows x 37 columns]

As we can see, there are no states that comply with the previous criteria